<div>
    <ul class="header-icons">
      <li>
          <a [routerLink]= "['home']">
              <img class="header-icons header-home" src="../../../assets/Images/Home1.jpg" alt="Home Image">
          </a>
          <figcaption class="header-icons header-home figcaption-text">Home</figcaption>
      </li>
      <li>
          <a [routerLink]= "['chat']">
              <img class="header-icons" src="../../../assets/Images/Chat.jpg" alt="Chat Image">
          </a>
          <figcaption class="header-icons figcaption-text">Chat</figcaption>
      </li>
      <li>
          <a [routerLink]= "['meeting']">
              <img class="header-icons" src="../../../assets/Images/Meetings.jpg" alt="Meeting">
          </a>
          <figcaption class="header-icons figcaption-text">Meetings</figcaption>
      </li>
      <li>
          <a [routerLink]= "['contact']">
              <img class="header-icons" src="../../../assets/Images/Contacts.jpg" alt="Contacts">
          </a>
          <figcaption class="header-icons figcaption-text">Contacts</figcaption>
      </li>
      <li class="search-input"> <input class="header-icons search-input-box" type="text" placeholder="Search"></li>
      <li><img class="header-icons gmail-icon" src="../../../assets/Images/Gmail favicon.png"></li>
      <li><img class="header-icons" src="../../../assets/Images/Settings.jpg"></li>
    </ul>
  </div>
  <!-- <app-test></app-test> -->
  <router-outlet></router-outlet> 
  
  