.container {
    width: 95%;
}

.home-images {
    padding: 1rem;
    text-align: center;
}

.home-right-panel {
    margin-right: 8rem;
}

.home-table, .home-right-panel {
    margin-top: 8rem;    
}

.home-table {
    margin-left: 8rem;
}

.home-upcoming-meetings, .home-meetings {
    width:50%;
    float:left;
}

.home-upcoming-meeting-image {
    width: 32rem;
    height: 7rem;
}

.user {
    padding-left: 2rem;
}
